.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.button {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .4);
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
}

.buttonCurrent {
    opacity: 0.5;
    cursor: default;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .4);
    padding: 15px;
    margin: 0 auto;
}

.pagination {
    justify-content: center;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}