.block {
  padding: 15px;
  color: #fff;
}

.title {
  position: relative;
}

@keyframes online {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.title::after {
  position: absolute;
  content: "";
  top: 0;
  right: 58px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  animation: online 1s ease alternate infinite;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}