.item {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
}

.image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.buttonUnfollow,
.buttonFollow {
    background-color: transparent;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .4);
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 72px;
}

.buttonFollow {
    background-color: rgba(0, 128, 0, 0.5);
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.itemImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.itemContent {
    display: grid;
    grid-template-columns: 1fr min-content;
}