.item {
    display: flex;
    gap: 20px;
    align-items: start;
    padding: 15px;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    margin: 0 0 15px 0;
}

.comment {
    font-style: italic;
}

.count {
    font-size: 12px;
    text-align: right;
    margin: 0 0 0 30px;
}

.button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}