html {
  height: 100%;
}

.app-wrapper {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
}

.app-wrapper-content {
  grid-column: 2/3;
  background-color: lightblue;
  padding: 15px;
}